/* 全局样式 */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


/** 导航栏 优化目录间隙 */
.el-menu-item-group__title {
  padding: 0px;
}


.el-aside {
  width: 210px !important;
}


.el-header {
  height: 100px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}


.el-main {
  background-color: #eaedf1;
}
