/* 全局样式 */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.el-header {
  background: #baccd9;
}


.el-container {
  height: 100%;
}

.el-main {
  /*background: rgba(0, 0, 0, 0) url("../../assets/image/sky.jpg") no-repeat scroll 100% 100%;*/
  /*background-size: auto;*/
  /*background-size: cover;*/

  padding: 0px;
}

/*!** 导航栏 *!*/
/*.el-aside {*/
/*  width: 220px !important;*/
/*}*/

/*!** 导航栏 优化二级目录与一级目录间隙 *!*/
/*.el-menu-item-group__title {*/
/*  padding: 0px;*/
/*}*/

/*.app-keepAlive{*/
/*  height: 100%;*/
/*}*/


