/* 全局样式 */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}


/*!** 导航栏 *!*/
/*.el-aside {*/
/*  width: 220px !important;*/
/*}*/

/*!** 导航栏 优化二级目录与一级目录间隙 *!*/
/*.el-menu-item-group__title {*/
/*  padding: 0px;*/
/*}*/


.el-header {
  padding: 0;
}


/*.el-main {*/
/*  background-color: #FFFFFF;*/
/*  padding: 0px;*/
/*}*/


/*.el-container {*/
/*  height: 100%;*/
/*}*/

/*.app-keepAlive{*/
/*  height: 100%;*/
/*}*/


