<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        .title {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            line-height: 30px;
            border-bottom: 1px solid;
        }

        .line-title {
            background-color: #acd1f7;
            text-align: center;
            border-right: 1px solid;
        }

        .sub_title {
            background-color: #dcdfe6;
            text-indent: 1em;
            line-height: 2em;
            border-left: 1px solid;
            border-right: 1px solid #000;
        }

        .sub_title .line {
            text-align: center;
            border-bottom: 1px solid;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .line-clear-border {
            border-right: none;
            border-bottom: 1px solid;
            text-indent: 1em;
        }

        .line-input {
            background-color: #dcdfe6;
        }

        .table-wrap {
            border-top: 1px solid;
            border-left: 1px solid;
        }

        .table-normal {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }

        .table-normal .th, .table-normal .td {
            padding: 10px 0;
            line-height: 23px;
            border-bottom: 1px solid;
            border-right: 1px solid;
        }

        .table-normal .th {
            font-weight: normal;
            background-color: #acd1f7;
        }
    </style>
</head>
<body>
<div>
    <div class="title line-title">
        2020年06月16日佛山运营日报
    </div>

    <div class="sub_title">
        <div class="line line-input line-clear-border"> 更新时间：2020-06-16 13:20:39</div>
    </div>

    <div>
        <div class="sub_title">一、客运量情况(人次)</div>
        <div>
            <div class="table-wrap">
                <table class="table-normal">
                    <tr>
                        <th class="th">线路</th>
                        <th class="th">日期</th>
                        <th class="th">客运量</th>
                        <th class="th">本月止客运量</th>
                        <th class="th">本月止日均客运量</th>
                        <th class="th">本年止累计客运量</th>
                        <th class="th">本年止日均客运量</th>
                        <th class="th">开通至今累计客运量</th>
                        <th class="th">开通至今日均客运量</th>
                    </tr>
                    <tr>
                        <td class="td">二号线</td>
                        <td class="td">2020-06-16</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <div class="sub_title">二、客车开行情况</div>
        <div>
            <div class="table-wrap">
                <table class="table-normal">
                    <tr>
                        <th class="th">线路</th>
                        <th class="th">日期</th>
                        <th class="th">计划开行(列次)</th>
                        <th class="th">抽线列次</th>
                        <th class="th">加开列次</th>
                        <th class="th">实际开行(列次)</th>
                        <th class="th">晚点列次</th>
                        <th class="th">正点率(％)</th>
                        <th class="th">兑现率(％)</th>
                        <th class="th">客车总行驶里程(列公里)</th>
                        <th class="th">运营里程(列公里)</th>
                        <th class="th">1.正线调试(列公里)</th>
                        <th class="th">2.车辆段调试(列公里)</th>
                    </tr>
                    <tr>
                        <td class="td" rowspan="3">二号线</td>
                        <td class="td">2020年06月16日—2020年06月16日</td>
                        <td class="td">500</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">500</td>
                        <td class="td">2</td>
                        <td class="td">99.59%</td>
                        <td class="td">100.00%</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                    </tr>
                    <tr>
                        <td class="td">本月</td>
                        <td class="td">7222</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">7222</td>
                        <td class="td">2</td>
                        <td class="td">99.97%</td>
                        <td class="td">100.00%</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                    </tr>
                    <tr>
                        <td class="td">本年</td>
                        <td class="td">22277</td>
                        <td class="td">6</td>
                        <td class="td">14</td>
                        <td class="td">22285</td>
                        <td class="td">8</td>
                        <td class="td">99.96%</td>
                        <td class="td">99.97%</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <div class="sub_title">三、时刻表情况</div>
        <div>
            <div class="table-wrap">
                <table class="table-normal">
                    <tr>
                        <th class="th">线路</th>
                        <th class="th">日期</th>
                        <th class="th">运营时刻表编号</th>
                        <th class="th">最小行车间隔(秒)</th>
                        <th class="th">运营列车数</th>
                        <th class="th">备用列车数（正线）</th>
                        <th class="th">备用列车数（段/场）</th>
                        <th class="th">高峰期上线列车(列)</th>
                    </tr>
                    <tr>
                        <td class="td">二号线</td>
                        <td class="td">2020-06-16</td>
                        <td class="td">Sb2</td>
                        <td class="td">500</td>
                        <td class="td">500</td>
                        <td class="td">500</td>
                        <td class="td">500</td>
                        <td class="td">500</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <div class="sub_title">四、安全及列车服务情况</div>
        <div>
            <div class="table-wrap">
                <table class="table-normal">
                    <tr>
                        <th class="th" rowspan="2">线路</th>
                        <th class="th" rowspan="2">日期</th>
                        <th class="th" rowspan="2">安全运营天数</th>
                        <th class="th" rowspan="2">加开列次</th>
                        <th class="th" rowspan="2">接待列次</th>
                        <th class="th" rowspan="2">救援列次</th>
                        <th class="th" colspan="2">清客</th>
                        <th class="th" colspan="2">晚点</th>
                        <th class="th" colspan="2">抽线</th>
                        <th class="th" rowspan="2">下线列次</th>
                    </tr>
                    <tr>
                        <th class="th">故障</th>
                        <th class="th">其他</th>
                        <th class="th">故障</th>
                        <th class="th">其他</th>
                        <th class="th">故障</th>
                        <th class="th">其他</th>
                    </tr>
                    <tr>
                        <td class="td" rowspan="3">2号线</td>
                        <td class="td">2020年06月16日—2020年06月16日</td>
                        <td class="td" rowspan="3">170</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">2</td>
                        <td class="td">3</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                    </tr>
                    <tr>

                        <td class="td">本月</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">2</td>
                        <td class="td">3</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                    </tr>
                    <tr>

                        <td class="td">本年</td>
                        <td class="td">14</td>
                        <td class="td">14</td>
                        <td class="td">14</td>
                        <td class="td">6</td>
                        <td class="td">8</td>
                        <td class="td">8</td>
                        <td class="td">11</td>
                        <td class="td">6</td>
                        <td class="td">8</td>
                        <td class="td">14</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <div class="sub_title">五、电能消耗情况(千瓦时)</div>
        <div>
            <div class="table-wrap">
                <table class="table-normal">
                    <tr>
                        <th class="th" rowspan="2">线路</th>
                        <th class="th" rowspan="2">时间</th>
                        <th class="th" rowspan="2">牵引能耗</th>
                        <th class="th" colspan="2">动力、照明能耗</th>
                        <th class="th" rowspan="2">线损及其他</th>
                        <th class="th" rowspan="2">总能耗（来源主所）</th>
                        <th class="th" rowspan="2">牵引/总(％)</th>
                        <th class="th" rowspan="2">动力、照明/总(％)</th>
                        <th class="th" rowspan="2">线损及其他/总(％)</th>
                    </tr>
                    <tr>
                        <th class="th">正线、车辆段</th>
                        <th class="th">主所</th>
                    </tr>
                    <tr>
                        <td class="td" rowspan="3">2号线</td>
                        <td class="td">2020年06月16日—2020年06月16日</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0.00%</td>
                        <td class="td">0.00%</td>
                        <td class="td">0.00%</td>
                    </tr>
                    <tr>
                        <td class="td">本月</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0.00%</td>
                        <td class="td">0.00%</td>
                        <td class="td">0.00%</td>
                    </tr>
                    <tr>
                        <td class="td">本年</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0</td>
                        <td class="td">0.00%</td>
                        <td class="td">0.00%</td>
                        <td class="td">0.00%</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <div class="sub_title">六、正线动车作业情况</div>
        <div>
            <div class="table-wrap">
                <table class="table-normal">
                    <tr>
                        <th class="th">线路</th>
                        <th class="th">日期</th>
                        <th class="th">作业代码</th>
                        <th class="th">作业内容</th>
                        <th class="th">作业区域</th>
                    </tr>
                    <tr>
                        <td class="td" colspan="5">暂无数据</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <div class="sub_title">七、运营信息</div>
        <div class="sub_title">1、运营信息类</div>
        <div>
            <div class="table-wrap">
                <table class="table-normal">
                    <tr>
                        <th style="width: 10%;" class="th">线路</th>
                        <th style="width: 10%;" class="th">接报日期</th>
                        <th style="width: 15%;" class="th">接报时间</th>
                        <th style="width: 15%;" class="th">事件影响</th>
                        <th style="width: 50%;" class="th">事件详情</th>

                    </tr>
                    <tr>
                        <td class="td">二号线</td>
                        <td class="td">2020-06-16</td>
                        <td class="td">00:03</td>
                        <td class="td">晚点</td>
                        <td class="td">
                            <ol>
                                <li>【的发生PDF就怕受到警方破案手机店铺开通于</li>
                                <li>佛教夫卡视角的活佛阿什顿爱上帝就发设计的佛【按时间【地方撒发吉萨都派飞机撒泼【</li>
                                <li>打飞机啊是打发手动阀撒旦军法审判的方家安泡打粉就怕【数据的富婆ytuiyi要退</li>
                                <li>啊睡觉的方家安是【的发生PDF就怕受到警方破案手机店铺佛教啊为人情味tyuiy'tui'y</li>
                            </ol>
                            <p>
                                <img src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                     alt="" width="200" height="91"/><img
                                    src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                    alt="" width="200" height="91"/>与i要推要推右腿一天ui用途推一推一</p>
                            <p>推阳台ui用途iytityuityui</p>
                            <p>
                                <img src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                     alt="" width="200" height="91"/><img
                                    src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                    alt="" width="200" height="91"/><img
                                    src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                    alt="" width="200" height="91"/>23423tyui人员让他</p>
                            <p>太热太热他 我热热特热 我我</p>
                            <table style="border-collapse: collapse; width: 100%;" border="1">
                                <tbody>
                                <tr>
                                    <td style="width: 20%;">吴茜薇r</td>
                                    <td style="width: 20%;">rqwer&nbsp;</td>
                                    <td style="width: 20%;">wqer</td>
                                    <td style="width: 20%;">rqwer</td>
                                    <td style="width: 20%;">wqer</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">wqer</td>
                                    <td style="width: 20%;">wer</td>
                                    <td style="width: 20%;">er</td>
                                    <td style="width: 20%;">rwq</td>
                                    <td style="width: 20%;">qwe</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="sub_title">2、故障类</div>
        <div>
            <div class="table-wrap">
                <table class="table-normal">
                    <tr>
                        <th class="th" style="width: 10%;">线路</th>
                        <th class="th" style="width: 10%;">接报日期</th>
                        <th class="th" style="width: 10%;">接报时间</th>
                        <th class="th" style="width: 10%;">专业</th>
                        <th class="th" style="width: 10%;">事件影响</th>
                        <th class="th" style="width: 50%;">事件详情</th>
                    </tr>
                    <tr>
                        <td class="td">二号线</td>
                        <td class="td">2020-06-16</td>
                        <td class="td">00:02</td>
                        <td class="td">晚点</td>
                        <td class="td">晚点</td>
                        <td class="td">
                            <ol>
                                <li>【的发生PDF就怕受到警方破案手机店铺开通于</li>
                                <li>佛教夫卡视角的活佛阿什顿爱上帝就发设计的佛【按时间【地方撒发吉萨都派飞机撒泼【</li>
                                <li>打飞机啊是打发手动阀撒旦军法审判的方家安泡打粉就怕【数据的富婆ytuiyi要退</li>
                                <li>啊睡觉的方家安是【的发生PDF就怕受到警方破案手机店铺佛教啊为人情味tyuiy'tui'y</li>
                            </ol>
                            <p>
                                <img src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                     alt="" width="200" height="91"/><img
                                    src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                    alt="" width="200" height="91"/>与i要推要推右腿一天ui用途推一推一</p>
                            <p>推阳台ui用途iytityuityui</p>
                            <p>
                                <img src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                     alt="" width="200" height="91"/><img
                                    src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                    alt="" width="200" height="91"/><img
                                    src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                    alt="" width="200" height="91"/>23423tyui人员让他</p>
                            <p>太热太热他 我热热特热 我我</p>
                            <table style="border-collapse: collapse; width: 100%;" border="1">
                                <tbody>
                                <tr>
                                    <td style="width: 20%;">吴茜薇r</td>
                                    <td style="width: 20%;">rqwer&nbsp;</td>
                                    <td style="width: 20%;">wqer</td>
                                    <td style="width: 20%;">rqwer</td>
                                    <td style="width: 20%;">wqer</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">wqer</td>
                                    <td style="width: 20%;">wer</td>
                                    <td style="width: 20%;">er</td>
                                    <td style="width: 20%;">rwq</td>
                                    <td style="width: 20%;">qwe</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sub_title">3、其他信息</div>
        <div>
            <div class="table-wrap">
                <table class="table-normal">
                    <tr>
                        <th class="th" style="width: 10%;">线路</th>
                        <th class="th" style="width: 20%;">接报日期</th>
                        <th class="th" style="width: 20%;">接报时间</th>
                        <th class="th" style="width: 50%;">事件详情</th>
                    </tr>
                    <tr>
                        <td class="td">二号线</td>
                        <td class="td">2020-06-16</td>
                        <td class="td">00:02</td>
                        <td class="td">
                            <ol>
                                <li>【的发生PDF就怕受到警方破案手机店铺开通于</li>
                                <li>佛教夫卡视角的活佛阿什顿爱上帝就发设计的佛【按时间【地方撒发吉萨都派飞机撒泼【</li>
                                <li>打飞机啊是打发手动阀撒旦军法审判的方家安泡打粉就怕【数据的富婆ytuiyi要退</li>
                                <li>啊睡觉的方家安是【的发生PDF就怕受到警方破案手机店铺佛教啊为人情味tyuiy'tui'y</li>
                            </ol>
                            <p>
                                <img src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                     alt="" width="200" height="91"/><img
                                    src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                    alt="" width="200" height="91"/>与i要推要推右腿一天ui用途推一推一</p>
                            <p>推阳台ui用途iytityuityui</p>
                            <p>
                                <img src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                     alt="" width="200" height="91"/><img
                                    src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                    alt="" width="200" height="91"/><img
                                    src="http://192.168.0.26:80/group1/M00/00/04/wKgAGl7p0_2AY87vAABIYcPMjDM759.jpg?attname=111111111111.jpg"
                                    alt="" width="200" height="91"/>23423tyui人员让他</p>
                            <p>太热太热他 我热热特热 我我</p>
                            <table style="border-collapse: collapse; width: 100%;" border="1">
                                <tbody>
                                <tr>
                                    <td style="width: 20%;">吴茜薇r</td>
                                    <td style="width: 20%;">rqwer&nbsp;</td>
                                    <td style="width: 20%;">wqer</td>
                                    <td style="width: 20%;">rqwer</td>
                                    <td style="width: 20%;">wqer</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">wqer</td>
                                    <td style="width: 20%;">wer</td>
                                    <td style="width: 20%;">er</td>
                                    <td style="width: 20%;">rwq</td>
                                    <td style="width: 20%;">qwe</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
